:root {
  --cell: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#player,
#cpu {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  grid-template-columns: repeat(10, var(--cell));
  grid-template-rows: repeat(10, var(--cell));
}

#player {
  background-color: blue;
}

#cpu {
  background-color: red;
}

.cell {
  outline: 1px solid black;
}
