:root {
  --cell: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hide {
  display: none !important;
}

body {
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

main,
#game {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  background-color: orange;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.btn-row {
  display: flex;
  gap: 10px;
}

#game-over {
  position: absolute;
  top: 20%;
  left: calc(50% - 200px);
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(230, 230, 230, 0.9);
  border-radius: 10px;
  font-size: 3rem;
}

.restart-btn {
  width: 100px;
}

#game {
  flex-wrap: wrap;
  gap: 100px;
}

#player,
#cpu,
#place-ships {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(10, var(--cell));
  grid-template-rows: repeat(10, var(--cell));
  background-color: rgb(185, 229, 255);
  border: 4px solid black;
}

.current-turn {
  outline: 3px solid rgb(0, 0, 0) !important;
  transition: outline 100ms ease-in-out;
}

.cell {
  outline: 1px solid black;
}

.cell.ship {
  background-color: grey;
}

.cell.missed {
  background-color: red;
  border-radius: 50%;
}

.cell.hit {
  background-color: black;
}

.hit,
.missed {
  transition: all 200ms ease-in-out;
}
